.App {
  text-align: center;
}

label {
  justify-content: left;
}

input, button {
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  font-size: large;
  width: 33%;
}

.login-form {
  align-content: center;
  width: 33%;
  margin: auto;
}

button {
  align-self: center;
  font-size: large;
  width: 15%
}

